@media screen and (max-width: 480px) {
  html {
    font-size: 18px;
  }

  header {
    position: static;

    .container {
      justify-content: center;

      .logo {
        margin: 0;
      }

      .info {
        display: none;
      }
    }
  }

  main {
    #wave, #wave-2, #wave-3, #wave-4 {
      display: none;
    }

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.3rem;
      margin-bottom: 20px;
      padding: 0 20px;
      text-align: center;
    }

    .first {
      background-color: #edf7f9;
      height: auto;

      .container {
        padding: 20px 0 20px 0;
        flex-wrap: wrap;
        justify-content: center;
        position: static;

        .img-container {
          display: none;
        }

        .info-block {
          height: auto;
          margin: 0 0 20px 0;
          text-align: center;

          .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;

            h1 {
              margin-right: 0;
            }

            .underline {
              font-size: 1.5rem;
            }
          }

          .points {
            text-align: left;

            .point {
              font-size: 1rem;

              &:not(:last-child) {
                margin-bottom: 20px;
              }
            }
          }
        }

        .pills {
          display: flex;
          background-color: white;
          margin-bottom: 20px;
        }

        .order-form {
          margin-top: 0;
        }
      }

      .background-img {
        display: none;
      }
    }

    .second {
      height: auto;
      padding: 0;

      .container {
        padding: 20px 0 20px 0;
        h2 + p {
          font-size: 1rem;
          text-align: center;
        }

        .effects {
          justify-content: center;
          margin-bottom: 0;

          .example {
            text-align: center;
            margin-bottom: 40px;

            &:first-child {
              .top-block {
                &:after {
                  top: -20px;
                  left: 50px;
                }
              }
            }

            &:nth-child(2) {
              .top-block {
                &:after {
                  top: -20px;
                  left: 50px;
                }
              }
            }

            &:last-child {
              .top-block {
                &:after {
                  top: -20px;
                  left: 50px;
                }
              }
            }

            .top-block {
              flex-direction: column;
            }

            .line:after {
              left: 120px;
            }
          }
        }

        .statistic {
          padding: 25px;

          p {
            font-size: 0.8rem;
          }
        }
      }
    }

    .third {
      height: auto;
      margin-bottom: 0;

      .container {
        padding: 20px 0 20px 0;
        .resources {
          flex-direction: column;

          .resource {
            border-radius: 0;

            &:not(:last-child) {
              margin: 0;
            }

            .line-with-arrow {
              width: 100%;
            }
          }
        }

        .conclusion {
          margin: 0 20px;
          font-size: 0.8rem;
          padding: 15px;
          &:after {
            font-size: 15px;
          }
          &:before {
            font-size: 50px;
          }
        }
      }
    }

    .fourth {
      height: auto;
      .container {
        .block-container {
          margin-bottom: 20px;
          justify-content: center;
          .block {
            width: 90%;
            margin: 0 0 60px 0;
            p {
              font-size: 1rem;
            }
          }
        }
        .question {
          margin-bottom: 20px;
          p {
            font-size: 1rem;
          }
        }
      }
    }

    .fifth {
      height: auto;
      .container {
        padding: 20px;
        margin-top: 0;
        .glass-with-product-and-instruction {
          .glass-with-product {
            display: none;
          }
          .instruction {
            margin: 0;
            .img-and-paragraph {
              flex-direction: column;
              p {
                text-align: center;
                margin: 20px 0 20px 0;
              }
            }
          }
        }
      }
    }
  }
}

